* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.4;
  background: #404046 !important;
}
a {
  color: #333;
  text-decoration: none;
}
.App {
  width: 60%;
  margin: auto;
  padding: 20px;
}
.todo-item {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  position: relative;
  color: #333;
}
.todo-item p {
  padding: 0 10px;
  display: inline-block;
  transition: all 0.4s ease-in;
}
.ui.inverted.menu {
  position: relative;
  margin-bottom: 0 !important;
}
button.delete,
.add-item {
  position: absolute !important;
  right: 10px !important;
}
input {
  border: none !important;
}
.submit-btn {
  flex: 1;
  background: #555;
  color: #fff;
  cursor: pointer;
  padding: 7px 20px;
}
.submit-btn:hover {
  background: #777;
}
